.parent {
    -fx-background-color: #F6F6F8;
    -fx-background-radius: 30px;
}

.sidebar {
    -fx-background-color: #052c4d;
}

.sidebar-opt {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.sidebar-opt:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.transparent {
    -fx-background-color: transparent;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.session-item {
    -fx-background-color: white;
    -fx-background-radius: 8px;

    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;

    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.session-item:hover {
    -fx-border-color: #0f4876;
}

.session-text-area {
    -fx-background-color: transparent;
    -fx-border-width: 0;

    -fx-padding: 0;

    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}

.session-text-area .content {
    -fx-background-color: transparent;
    -fx-border-width: 0;

    -fx-padding: 0;

    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}

.session-text-area .scroll-pane {
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
    -fx-background-color: transparent;
}

.session-text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.session-text-area .scroll-pane .content {
    -fx-background-color: transparent;
}


.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 8px; 
    -fx-text-fill: white;
}
  
.context-menu-item .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}
  
.context-menu-item:focused {
    -fx-background-color: #ededed;
}

/* .menu-item:focused .label {
    -fx-text-fill: white;
} */


.h1-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.h1-label:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.log-priority-label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #bcbcbe;

    -fx-alignment: center;
    -fx-text-alignment: center;

    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.log-priority-label:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.selected-item {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.selected-item:hover {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.grid-icon:hover{
    -fx-cursor: hand;
    /* -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 0); */
    /* -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0); */
}


.search-field {
    -fx-background-radius: 30px
}

.search-field:focused {
    -fx-background-color:
        #0f4876,
        #FFFFFF;
}

.search-field-active {
    -fx-pref-width: 400px;
    -fx-opacity: 1;
}

.search-icon {
    -fx-fill: #bcbcbe;
    -fx-cursor: hand;

    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.search-icon:hover {
    -fx-fill: #052c4d;

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.add-session-button {
    -fx-background-color: #38be88; /* Зелёный фон */
    -fx-text-fill: white; /* Белый текст */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px 8px 8px;
    -fx-alignment: center-left;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.add-session-button .text {
    -fx-padding: 10px;
}

.add-session-button:hover {
    -fx-background-color: #34af7e;

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.custom-table-view {
    -fx-background-color: transparent;
    -fx-border-color: #052c4d;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-background-insets: -3px -3px 0 0;
    -fx-border-insets: 0.5px;
    -fx-padding: 0px;
}

.custom-table-view .column-header-background .filler {
    -fx-background-color: #052c4d;
    -fx-background-radius: 8px 8px 0px 0px;
}

.custom-table-view .column-header {
    -fx-background-color: #052c4d;
}

.custom-table-view .column-header-background {
    -fx-background-color: #052c4d;
    -fx-background-insets: 0;
    -fx-background-radius: 8px 8px 0px 0px;
    /* -fx-padding: 0px; */
}

.custom-table-view .column-header, .filler {
    -fx-background-color: transparent;
    -fx-size: 50px;
    -fx-wrap-text: true;
}

.custom-table-view .table-row-cell {
    -fx-background-color: transparent; /* фикс для отсутствия цвета границ по краям */
}

.custom-table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
}

.custom-table-view .column-header:hover .arrow {
    -fx-background-color: white; /* Цвет при наведении */
}

.custom-table-view .column-header.sorted .arrow {
    -fx-background-color: white; /* Цвет для активной сортировки */
}

.custom-table-view .table-row-cell:selected {
    -fx-background-color: #4083BB;
    -fx-table-cell-border-color: #4083BB;
}


.custom-menu-button {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-padding: 2 4 2 4;
    -fx-font-size: 13px;
    -fx-text-fill: #333;
}

.custom-menu-button .label {
    -fx-text-fill: #333;
}

.custom-menu-button:hover .arrow {
    -fx-background-color: #000;
}

.menu-button:showing .arrow {
    -fx-rotate: 180;
}


/* dark blue            0f4876 */
/* dark dark blue       0a3151 */
/* new dark dark blue   052c4d */
/* steel blue           4083BB */
/* mint green           38be88  */
/* red                  ed1b2f */
/* yellow               fec526 */